/*=========== Regular customers ============*/

.customers__list {
  display: flex;
  list-style: none;
}

.customers__item {
  flex-basis: calc((100% / 6) - 30px);
  margin-left: 30px;
  &:first-child {
    margin: 0;
  }
}

.customers__link {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms var(--cubic);
  &:focus,
  &:hover {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.customers__logo {
  width: 50%;
  height: 50%;
}
