body {
  font-family: Roboto;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
